:host {
  display: inline-block;
  font-family: "Arial";
}
input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* 1 */
  clip-path: inset(50%);
  border: 0;
}

label {
  padding: 0.3em;
  border: 1px solid darkgrey;
  border-radius: 5px;
  cursor: pointer;
}

label:hover {
  background-color: lightgrey;
}

label:focus {
  outline: auto 1px rgb(77, 144, 254);
}
