<div>
  <h3>Edit Subtext</h3>
  <div class="text-display">
    <button id="show" class="button-bg-color">Edit</button>
  </div>
</div>
<div>
  <h3>Set the Colors</h3>
  <div>
    <color-slider class="node-color"></color-slider>
    <p>Node Color</p>
  </div>
  <div>
    <color-slider class="curve-color"></color-slider>
    <p>Curve Color</p>
  </div>
</div>
<div class="leave">
  <button id="save-settings" class="button-bg-color">Ok</button>
  <button id="cancel-settings" class="button-bg-color">Cancel</button>
</div>
